* {
  font-family: 'Roboto Condensed', sans-serif;

}

/* navbar */


body,html {
  height: 100%;
  width: 100%;
  color: steelblue
}
.App {
  height: 100%;
}
img {
  width: 100%;
}
#root {
  height: 100%;
}
.landing {
  position: relative;
  background-size: cover;
  background-image: url('./img/showcase.jpg');
  height: 100vh;
  margin-bottom: 0px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.container {
  width: 100%;
}

.com-body {
  height: auto;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}
.mb-4, .my-4 {
  margin-bottom: 0!important;
}

.mt-5, .my-5 {
  margin-top: 0!important;
}

.form {
  margin-top: 40px;
  margin-bottom: 40px;
}

#website-name {
 color: #f7b809;
 font-size: 30px;
 font-weight: 500;
 margin-right: 20px
}

#website-name:hover {
  color: burlywood
}

.bttns {
  color: white ;
  background: #ea5d00;
  border-width: 3px solid;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border-color: #ea5d00;
  text-transform: uppercase;
}

.bttns:hover {
    color: #ea5d00;
    border-width: 4px solid;
    background: transparent;
    border-color: #ea5d00;
}

.bttnl {
  color: white ;
  background: green;
  border-width: 3px solid;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  border-color: green;
  font-weight: 400;
  border-radius: 3px;
  text-transform: uppercase;
}

.bttnl:hover {
    color: green;
    border-width: 4px solid;
    background: transparent;
    border-color: green;
}


.ttx {
  color: steelblue;
  font-size: 50px;
}